.charPlate{
  background-color: #233237;
  border: 3px solid #eac67a;
  width: 150px;
  margin: 3px;
  text-align: center;
  display: inline-block;
}
.platePic{
  height: 100px;
}
body{
  background-image: url("../images/back.jpg");
  background-size: 1700px;
  background-repeat: no-repeat;
  color: #EAC67a;
  text-shadow: 2px 2px #984b43;
}
button{
  background-color: #18121e;
  color: #eac67a;
  text-shadow: 2px 2px #984b43;
  border: 2px solid #984b43;
  border-radius: 5px;
  padding: 5px 10px;
}
#tryAgain {
  display:none;
}
#enemies {
  height: 150px;
}
#enemies .charPlate{
  background-color:#d8574b;
}
 #defender{
  height: 200px;
 }
.img-thumbnail{
  border-color: #18121e;
}
